.contactSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 72px 0;
}

.contactContainer {
  width: 100%;
  display: flex;
  gap: 72px;
}

.leftRegion {
  flex: 0 1 55%;
}

.rightRegion {
  flex: 0 1 45%;
}

[data-color="extra1"].contactSection {
  background-color: var(--ds-color-extra1-background-default);
}
[data-color="extra2"].contactSection {
  background-color: var(--ds-color-extra2-background-tinted);
}
[data-color="accent"].contactSection {
  background-color: var(--ds-color-accent-background-tinted);
}
[data-color="primary"].contactSection {
  background-color: var(--ds-color-primary-background-tinted);
}
