.healthCard {
  padding: var(--ds-size-8);
  box-shadow: -9px 9px 0 0 var(--ds-color-surface-tinted);
}

.doctorIcon {
  margin-bottom: -58px;
  color: var(--ds-color-neutral-text-subtle);
}
