@import url("../../../design-tokens-build/helse.css");

@layer ds2;

.healthCard {
  padding: 28px;
  position: relative;
  z-index: 5;
  box-shadow: -10px 10px 0px 0px var(--ds-color-primary-surface-tinted);
}

.healthCard img {
  height: 50px;
}
