.contactItem {
  display: flex;
  align-items: center;
  gap: var(--ds-size-4);
  margin-top: 24px;
  margin-bottom: 32px;
  font-size: 18px;
}

.icon {
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.6rem;
  background-color: var(--ds-color-surface-hover);
}
