@import url('../design-tokens-build/miljo.css');
@import url('@digdir/designsystemet-css');

@layer ds;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-feature-settings: 'cv05' 1; /* Enable lowercase l with tail */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  background: var(--ds-color-surface-default);
  color: var(--ds-color-text-default);
}

header {
  background: var(--ds-color-base-default);
  border-bottom: var(--ds-border-width-default) solid var(--ds-color-border-default);
}

nav {
  display: flex;
  justify-content: space-between;
  gap: var(--ds-size-8);
  padding: var(--ds-size-4);
  align-items: top;
  color: var(--ds-color-base-contrast-default);
}

footer {
  padding: var(--ds-size-4);
  bottom: 0;
  left: 0;
  right: 0;

  & > ul {
    list-style: none;
    padding-inline: 0;
  }
}

.container {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: var(--ds-size-8);
}

.center {
  grid-column: span 4;
  text-align: center;
}

.components {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--ds-size-8);
  max-width: 940px;
  margin: 0 auto;
  border-radius: var(--ds-border-radius-md);
}

.card {
  background-color: var(--ds-color-neutral-background-tinted);
  border-radius: var(--ds-border-radius-md);
  padding: var(--ds-size-6);
}

textarea {
  min-height: 160px;
}

.intro {
  display: grid;
  gap: var(--ds-size-6);
  max-width: 540px;
  padding: 0 var(--ds-size-12);
  padding-bottom: var(--ds-size-8);
  color: var(--ds-color-base-contrast-default);
}

.button-group {
  display: flex;
  gap: var(--ds-size-2);
}

.ds-button[data-variant='secondary'] {
  color: var(--ds-color-base-contrast-default);
  border-color: var(--ds-color-base-contrast-default);
}

.ds-button[data-variant='secondary']:hover {
  color: var(--ds-color-text-default);
}

.highlighted-cards {
  grid-column: span 4;
  display: grid;
  gap: var(--ds-size-6);
  grid-template-columns: repeat(3, 1fr);
}

.contact {
  background-color: var(--ds-color-surface-tinted);
  border-radius: var(--ds-border-radius-md);
  grid-column: span 4;
  display: grid;
  gap: var(--ds-size-4);
  padding: var(--ds-size-10);
}
