.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 96px 0;
  color: var(--ds-color-text-default);
  background-color: var(--ds-color-background-tinted);
}

.flipped {
  flex-direction: row-reverse;
}

.section img {
  max-width: 100%;
  height: auto;
}

.sectionContainer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 192px;
}

.leftRegion {
  flex: 0 1 55%;
}

.rightRegion {
  flex: 0 1 28%;
}
